.prediction-page{

width:90%;

max-width:1100px;

margin:40px auto;

}

.prediction-card{

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

margin-bottom:20px;

}

.prediction-card h2{

margin-bottom:10px;

}

.good{

color:green;

font-weight:bold;

}

.bad{

color:red;

font-weight:bold;

}